<li *ngFor="let item of userCartObj">
  <div class="d-md-flex  align-items-center">
    <div class="flex-md-grow-1 d-flex justify-content-between">
      <!-- 圖片 -->
      <div class=" bg-cover cart-img" [style.background-image]="'url(data:image/png;base64,' + item.img + ')'">
      </div>
      <div class="flex-md-grow-1 d-md-flex justify-content-between ms-4 align-items-center ">
        <!-- 品名單價 -->
        <p><span>{{item.name}}</span><br><span>NT$ {{item.price}}</span></p>
        <!-- 數量 -->
        <div class="input-group cart-quantity">
          <button class="btn btn-outline-secondary rounded-0 text-primary" type="button"
            (click)="decrementQuantity(item)">-</button>
          <input type="number" required class="form-control text-center bg-white" [value]="item.orderQuantity"
            #inputUpdate (keyup.enter)="changeQuantity(item.productID ,inputUpdate.value)">
          <button class="btn btn-outline-secondary rounded-0 text-primary" type="button"
            (click)="incrementQuantity(item)">+</button>
        </div>
      </div>
    </div>
    <div class=" d-flex">
      <!-- 總價 -->
      <h5 class="text-end m-3 ms-auto ms-md-3">NT$ {{item.price*item.orderQuantity}}</h5>
      <!-- 垃圾桶 -->
      <p class="d-none d-md-block p-3 m-0">
        <i class="fa-solid fa-trash fa-lg" (click)="deleteUserCart(item.productID)"></i>
      </p>
    </div>
  </div>
  <hr class="d-block">
</li>
<li>



  <!-- <li *ngFor="let item of userCartItem">
      <div class="d-md-flex  align-items-center">
          <div class="flex-md-grow-1 d-flex justify-content-between">
              圖片
              <div class=" bg-cover cart-img" [style.background-image]="'url(data:image/png;base64,' + item[5] + ')'">
              </div>
              <div class="flex-md-grow-1 d-md-flex justify-content-between ms-4 align-items-center ">
                  品名單價
                  <p><span>{{item[2]}}</span><br><span>NT$ {{item[3]}}</span></p>
                  數量
                  <div class="input-group cart-quantity">
                      <button class="btn btn-outline-secondary rounded-0 text-primary" type="button"
                              (click)="decrementQuantity(item)">-</button>
                      <input type="number" required class="form-control text-center bg-white"
                             [value]="item[1]" #inputUpdate
                             (keyup.enter)="changeQuantity(item[0] ,inputUpdate.value)"
                             >
                      <button class="btn btn-outline-secondary rounded-0 text-primary" type="button"
                              (click)="incrementQuantity(item)">+</button>
                  </div>
              </div>
          </div>
          <div class=" d-flex">
              總價
              <h5 class="text-end m-3 ms-auto ms-md-3">NT$ {{item[3]*item[1]}}</h5>
              垃圾桶
              <p class="d-none d-md-block p-3 m-0">
                <i class="fa-solid fa-trash fa-lg" (click)="deleteUserCart(item[0])"></i>
              </p>
          </div>
      </div>
      <hr class="d-block">
    </li>
    <li> -->
