.checkout-img{
    width: 120px;
    height: 80px;
}

.checkout-list{
    border-color: $secondary !important;
}

.checkout-nav{
    border: 1px solid $secondary;
}

@media (max-width: 768px) {
    .checkout-title{
        font-size: 2.5rem;
    }
}


