
<!-- 圖在右邊 -->
<section class="home">
  <div class="container ">
    <div class="row d-md-flex flex-row-reverse">
      <!-- 行動版 -->
      <div>
        <div>
          <img src="../../assets/img/sm-橫式-為什麼選擇了做甜點.svg" alt="" class="w-50 d-block d-md-none ms-auto me-auto my-4">
        </div>
      </div>
      <!-- 桌面板 -->
      <div class="col-md-2">
        <img src="../../assets/img/lg-為什麼選擇了做甜點.svg" alt="" style="height: 300px; margin-top:-24px;"
          class="d-none d-md-block ms-auto me-auto">
      </div>
      <div class="col-md-5 d-flex bg-secondary order-md-2">
        <div class="home-pic bg-cover"
          style="background-image: url(https://images.unsplash.com/photo-1519730722595-a5ff788dea4d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2712a33fe9b13532f0682ac4e1e749b8&auto=format&fit=crop&w=600&q=60);">
        </div>
      </div>
      <div class="col-md-5 d-flex justify-content-center bg-secondary order-md-1">
        <div class="home-text my-5" style=" line-height:36px">
          <p class="mx-4 mb-0">青山依舊在，幾度夕陽紅。慣看秋月春風。</p>
          <p class="mx-4 mb-0">一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
          <p class="mx-4 mb-0">是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- 圖在左邊 -->
<section class="home">
  <div class="container ">
    <div class="row d-md-flex flex-row-reverse">
      <!-- 行動版 -->
      <div>
        <div>
          <img src="../../assets/img/sm-橫式-為什麼一定要吃甜點.svg" alt="" class="w-50 d-block d-md-none ms-auto me-auto my-4">
        </div>
      </div>
      <!-- 桌面板 -->
      <div class="col-md-5 d-flex bg-secondary">
        <div class="home-pic bg-cover" style="background-image: url(https://bit.ly/2NcDVuB);">
        </div>
      </div>
      <div class="col-md-2">
        <img src="../../assets/img/lg-為什麼一定要吃甜點.svg" alt="" style="height: 300px; margin-top:-24px;"
          class="d-none d-md-block ms-auto me-auto">
      </div>
      <div class="col-md-5 d-flex justify-content-center bg-secondary">
        <div class="home-text my-5" style=" line-height:36px">
          <p class="mx-4 mb-0">青山依舊在，幾度夕陽紅。慣看秋月春風。</p>
          <p class="mx-4 mb-0">一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
          <p class="mx-4 mb-0">是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。</p>
        </div>
      </div>
    </div>
  </div>
</section>
