<header class="container g-0 mb-md-5">
  <div class="bg-cover d-flex flex-column align-items-center justify-content-center p-5"
      style="height: 510px; background-image:url(https://bit.ly/2P7GhNd);">
      <div class="w-100 d-flex align-items-center justify-content-center text-white">
          <div class="step step-dark">
              <div class="step-circle"><i class="fa-solid fa-check fa-2xs"></i></div>
              <div class="step-circle"><i class="fa-solid fa-check fa-2xs"></i></div>
              <div class="step-circle"><i class="fa-solid fa-check fa-2xs"></i></div>
          </div>
      </div>
      <div class="success-img">
          <img src="../../../assets/img/lg-付款成功.svg" alt="" height="46px">
      </div>
      <!-- 大螢幕 -->
      <a routerLink="/home" class="d-none d-md-block btn btn-accent rounded-0 text-primary success-btn ">繼續逛逛</a>
  </div>
  <!-- 小螢幕 -->
  <a routerLink="/home" class="d-md-block d-md-none btn btn-accent rounded-0 text-primary success-btn">繼續逛逛</a>
</header>
