<footer class=" bg-secondary">
  <!-- 上半部 -->
  <div class="bg-primary py-5">
      <div class="container px-5">
          <div class="d-flex flex-column flex-lg-row justify-content-lg-between align-items-center">
              <div class="d-flex justify-content-center mb-lg-0 mb-4">
                  <img width="40px" src="../../../assets/img/logo-light.svg" alt="logo-light" />
                  <h4 class="text-white mb-0 mt-1 ms-4">訂閱你我的甜蜜郵件</h4>
              </div>
              <div class="input-group input-group-lg rounded-0 footer-input">
                  <span class="input-group-text rounded-0 bg-white">
                      <i class="fas fa-envelope text-primary"></i>
                  </span>
                  <input type="text" class="form-control rounded-0 bg-white border-start-0">
                  <button class="btn btn-accent rounded-0" type="button">
                      <i class="fas fa-arrow-right"></i>
                  </button>
              </div>
          </div>
      </div>
  </div>
  <!-- 下半部 -->
  <div class="container px-5">
      <div class="d-flex justify-content-between mb-5">
          <!-- 左邊 -->
          <div class="contact d-flex flex-column justify-content-between">
              <img class="my-5" src="../../../assets/img/logotype-sm-dark.svg" />
              <ul class="list-unstyled mb-0">
                  <li><a class="text-primary nav-link" href="tel:+">07-1234-5678 </a></li>
                  <li><a class="text-primary nav-link" href="mailto:">sweetaste&#64;email.com</a></li>
                  <li><a class="text-primary nav-link" href="https://goo.gl/maps/YthBVzp74it9PeL49"
                          target="_blank">800 高雄市新興區幸福路 520號</a></li>
              </ul>
          </div>
          <!-- 右邊 -->
          <div class="d-none d-md-block m-0 pt-4">
              <img src="../../../assets/img/sm-今天是個吃甜點的好日子.svg" alt="" style="height: 218px;">
          </div>
      </div>
      <!-- 下面 -->
      <div class="d-md-flex justify-content-between align-items-center py-6">
          <div class="social-icon">
              <a class="text-primary" href="#"><i class="fab fa-2x fa-instagram-square me-2"></i></a>
              <a class="text-primary" href="#"><i class="fab fa-2x fa-facebook-square"></i></a>
          </div>
          <p class="copyright mb-0 text-primary">
              © 2022 Sweetaste* All Rights Reserved
          </p>
      </div>
  </div>
</footer>
